<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/fonts/font-awesome/css/font-awesome")
    @Styles.Render("~/fonts/Ionicons/css/ionicons")
    @Styles.Render("~/Content/kendo/2016.3.1028/kendo")
    @Styles.Render("~/Content/AdminLTE")
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*jQuery v2.2.3*@
    @Scripts.Render("~/bundles/jquery")
    @*Modernizr*@
    @Scripts.Render("~/bundles/modernizr")

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    
    @Scripts.Render("~/bundles/kendo")
    <script>
        $(window).load(function () {
            $('.loader').fadeOut(250);
        });
    </script>
</head>
<body class="hold-transition skin-yellow-light sidebar-mini">
    <div class="loader"><p>Please wait...</p></div>
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-lg"><b>Cardio</b>Sense</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
            </nav>
        </header>
       
        <!-- Content Wrapper. Contains page content -->
        <div>
            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="login-footer align-center">
            <div class="pull-right hidden-xs">
                <b>Version&nbsp;</b>@System.Configuration.ConfigurationManager.AppSettings["Version"]
            </div>
            <span class="orange"><b>Cardio</b>Sense</span>

            @*<strong>Copyright &copy; @DateTime.Now.Year <a>DV-Solutions</a></strong> All rights
                reserved.*@
        </footer>
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
    @RenderSection("Scripts", required: false)
</body>
</html>
