@model CardioSence.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
    Layout = "_LayoutNull.cshtml";
}


<div class="homePage">
    <div class="homePage_back catalog-grid">
        <div class="homePage_text create-item">
            <h2>@ViewBag.Title</h2>
            <br />
            <section class="loginForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    
                    @Html.HiddenFor(model => model.Code)
                    <div class="col-sm-12 border-box">
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 border-box">
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "form-control", type = "password", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 border-box">
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { @class = "form-control", type = "password", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="col-sm-12 border-box">
                        <div class="form-group">
                            <input type="submit" class="k-button" value="Reset Password" />
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
            </section>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#submit")
               .click(function (e) {
                   var errTempl = '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>';
                   var validator = $("form").kendoValidator({
                       errorTemplate: errTempl
                   }).data("kendoValidator");
                   if (!validator.validate()) {
                       return false;
                   }
               })

    </script>
}
