@model CardioSence.Models.CardiologicalEchoCGItem

@{
    ViewBag.Title = "Echocardiography";
}

<script type="text/javascript">

    function Search() {
        $("#CardiologicalEchoCG").data("kendoGrid").dataSource.read();
        return false;
    }

    function Clear() {
        // Էստեղ կավելացնենք ֆիլտրի դաշտերը
        $("#CardiologicalEchoCG").data("kendoGrid").dataSource.read();
        return false;
    }

    function getParameter() {
        return {
            patientId: $("#prmPatientId").val(),
            // մյուս դաշտերը
        };
    }

</script>
<div class="for-Toolbar">
    @(Html.Kendo().ToolBar()
    .Name("ToolBar")
    .Items(items =>
    {
        items.Add().Template("<a title=\"New Echocardiography\" class=\"ToolbarIcon\" onclick=\"return Create(); \"><img src=\"../img/icons/echoCG-plus.png\" width=\"35\"/></a>");
        items.Add().Template("<a title=\"Details\" class=\"ToolbarIcon\" onclick=\"return Detail(); \"><img src=\"../img/icons/list-button.png\" width=\"35\"/></a>");
        //items.Add().Type(CommandType.Button).Togglable(false).Text("Create").Id("btnCreate").Click("Create");
        //items.Add().Type(CommandType.Button).Togglable(false).Text("Detail").Id("btnDetail").Click("Detail");
    })
    )
    @* Search Panel - Right Slide *@
    <div class="right-slidePanel">
        <div class="slidePanel-Content">
            <div class="slidePanel-btn">
            </div>
            <div class="slidePanel-Content-fields create-item">
                <h4>Search fields</h4>
                <div class="form-group margin-5-0">
                    <input type="text" value="" class="input-item k-textbox" placeholder="First Name" />
                </div>
                <div class="form-group margin-5-0">
                    <input type="text" value="" class="input-item k-textbox" placeholder="Last Name" />
                </div>
                <div class="form-group margin-10-0 align-right">
                    <button id="rtSearch" class="k-button">Search</button>
                    <button id="rtClear" class="k-button">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
    @(Html.Kendo().Grid<CardioSence.Models.CardiologicalEchoCGItem>()
                      .Name("CardiologicalEchoCG")
                      .Events(e => e.DataBound("showCommandIcons"))
                      .Columns(columns =>
                      {
                          columns.Bound(model => model.CardiologicalEchoCGId).Hidden();
                          columns.Bound(model => model.PatientId);
                          columns.Bound(model => model.ResidentName);
                          columns.Bound(model => model.CardiologicalEchoCGDate);
                          columns.Command(commands =>
                          {
                              commands.Custom("cmdUpdateCardiologicalEchoCG").Text(" ").Click("Update").HtmlAttributes(new { @class = "Update_Icon" });
                              commands.Custom("cmdDeleteCardiologicalEchoCG").Text(" ").Click("Delete").HtmlAttributes(new { @class = "Delete_Icon" });
                          }).Title("Commands").Width(130);
                      })
                      .Selectable(s => s.Mode(GridSelectionMode.Single))
                      .Pageable()
                      .Filterable()
                      .Scrollable()
                      .Groupable()
                      .Sortable()
                      .ClientDetailTemplateId("template")
                      .Resizable(resize => resize.Columns(true))
                      .Reorderable(reorder => reorder.Columns(true))
                      .DataSource(dataSource => dataSource
                      .Ajax()
                      .Read(read => read.Action("ReadCardiologicalEchoCGItem", "CardiologicalEchoCG").Data("getParameter"))
                      .PageSize(15)
                      .Sort(sort => sort.Add("CardiologicalEchoCGId").Descending())
                      .Model(model =>
                      {
                          model.Id(p => p.CardiologicalEchoCGId);
                      }
                      )
)
    )
@(Html.Kendo().Window().Name("wCardiologicalEchoCG")
              .Draggable().Resizable()
              .Content("").Modal(true).Actions(actions => actions.Pin().Close())
              .Visible(false).Events(events => events
              .Close("onCloseCardiologicalEchoCG")
              .Open("onOpenCardiologicalEchoCG")
              .Refresh("onRefreshCardiologicalEchoCG"))
)

    @(Html.Kendo().Window().Name("wCardiologicalEchoCGDetail")
              .Draggable().Resizable()
              .Content("").Modal(true).Actions(actions => actions.Pin().Close())
              .Visible(false).Events(events => events
              .Close("onCloseCardiologicalEchoCG")
              .Open("onOpenCardiologicalEchoCG")
              .Refresh("onRefreshCardiologicalEchoCG"))
    )

    <script>
        //if (screen.width < 1200) {
        //    $("#wCardiologicalEchoCG, #wCardiologicalEchoCGDetail").kendoWindow({
        //        width: "95%",
        //        height: "85%"
        //    });
        //}
        //else {
        //    $("#wCardiologicalEchoCG, #wCardiologicalEchoCGDetail").kendoWindow({
        //        width: "1170",
        //        height: "600"
        //    });
        //}


        function Create() {
            var window = $("#wCardiologicalEchoCG").data("kendoWindow");
            window.content("");
            window.title("New Cardiological EchoCG");
            window.refresh({
                url: "@Url.Action("Create", "CardiologicalEchoCG")"
            });
        window.center();
        window.maximize().open();
        return false;
        }

        function Update(e) {
            var row = $(e.target).closest("tr");
            var grid = $("#CardiologicalEchoCG").data("kendoGrid");
            var dataItem = grid.dataItem(row);
            var window = $("#wCardiologicalEchoCG").data("kendoWindow");
            window.content("");
            window.title("Edit Cardiological EchoCG");
            window.refresh({
                url: "@Url.Action("Update", "CardiologicalEchoCG")" + "/" + dataItem.CardiologicalEchoCGId
            });
        window.center();
        window.maximize().open();
        return false;
        }

        function Delete(e) {
            var row = $(e.target).closest("tr");
            var grid = $("#CardiologicalEchoCG").data("kendoGrid");
            var dataItem = grid.dataItem(row);
            var r = confirm("Are you sure to remove the record?");
            if (r == false) {
                return false;
            }
            var rt = false;
            var dt;
            var q = $.ajax({
                url: '@Url.Action("DeleteCardiologicalEchoCG", "CardiologicalEchoCG")',
                dataType: "json",
                type: "GET",
                data: { id: dataItem.CardiologicalEchoCGId },
                async: false,
                success: function (data) { dt = data; rt = true; },
                error: function (xhr) { dt = xhr; rt = false; }
            });
            if (rt == true) {
                if (dt != "1") {
                    alert(JSON.stringify(dt));
                }
                else {
                    $("#CardiologicalEchoCG").data("kendoGrid").dataSource.read();
                }
            }
            else {
                alert(dt);
                return false;
            }
            return false;
        }

        function Detail() {
            // Ավելացնել կոդ
            return false;
        }

        function onOpenCardiologicalEchoCG(e) {
            kendo.ui.progress(e.sender.element, true);
        }
        function onCloseCardiologicalEchoCG(e) {
            $("#CardiologicalEchoCG").data("kendoGrid").dataSource.read();
            $(".k-overlay").css("display", "none");
        }
        function onRefreshCardiologicalEchoCG(e) {
            kendo.ui.progress(e.sender.element, false);
        }

    </script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
          .Name("tabStrip_#=CardiologicalEchoCGId#")
          .SelectedIndex(0)
          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
          .Items(items =>
          {
          items.Add().Text("Velocity").Content(@<text>
            @(Html.Kendo().Grid<CardioSence.Models.CardiologicalEchoCGVelocityItem>()
              .Name("Velocity_#=CardiologicalEchoCGId#")
              .Columns(columns =>
              {
                  columns.Bound(product => product.CardiologicalEchoCGVelocityId).Hidden();
                  columns.Bound(product => product.ValveName);
                  columns.Bound(product => product.Velocity);
                  columns.Bound(product => product.StenosisName);
                  columns.Bound(product => product.Area);
                  columns.Bound(product => product.Gradient);
                  columns.Bound(product => product.InsufficiencyName);
              })
             .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(5)
                      .Read(read => read.Action("ReadCardiologicalEchoCGVelocityItems", "CardiologicalEchoCGVelocity", new { id = "#=CardiologicalEchoCGId#" }))
                      .Model(model =>
                      {
                          model.Id(p => p.CardiologicalEchoCGVelocityId);
                      }
                      )
                  )
                  .Scrollable()
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true))
                  .Pageable()
                  .Sortable()
                  .ToClientTemplate()
            )
        </text>);
          items.Add().Text("Wall").Content(@<text>
            @(Html.Kendo().Grid<CardioSence.Models.CardiologicalEchoCGWallItem>()
              .Name("Wall_#=CardiologicalEchoCGId#")
              .Columns(columns =>
              {
                  columns.Bound(product => product.CardiologicalEchoCGWallId).Hidden();
                  columns.Bound(product => product.ContractilityName);
                  columns.Bound(product => product.EchoCGZoneName);
              })
             .DataSource(dataSource => dataSource
                      .Ajax()
                      .PageSize(5)
                      .Read(read => read.Action("ReadCardiologicalEchoCGWallItems", "CardiologicalEchoCGWall", new { id = "#=CardiologicalEchoCGId#" }))
                      .Model(model =>
                      {
                          model.Id(p => p.CardiologicalEchoCGWallId);
                      }
                      )
                  )
                  .Scrollable()
                  .Resizable(resize => resize.Columns(true))
                  .Reorderable(reorder => reorder.Columns(true))
                  .Pageable()
                  .Sortable()
                  .ToClientTemplate()
            )
        </text>);
          })
            .ToClientTemplate())
</script>


