@model CardioSence.Models.CardiologicalECGItem

@{
    Layout = null;
}


<div class="container-maxwidth720 create-item">
    @using (Html.BeginForm("Save", "CardiologicalECG", FormMethod.Post, new { id = "frmCardiologicalECG" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CardiologicalECGId)

        <fieldset class="create-fieldset">
            <legend>Patient</legend>

            @if (@Model.CardiologicalECGId == 0 && @Model.ResidentId == null)
                {
                <div class="col-sm-12 border-box">
                    <span style="color:#808080; font-style:italic">Please, enter the patient id or name or birth date here for find the patient</span>
                </div>
                <div class="col-sm-12 border-box">
                    @(Html.Kendo().ComboBoxFor(model => model.ResidentId)
                    .Name("ResidentId")
                    .Placeholder("Select")
                    .DataTextField("ResidentName")
                    .DataValueField("ResidentId")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Filter(FilterType.Contains)
                    .AutoBind(false)
                    .MinLength(5)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ResidentInfo", "Resident");
                        })
                        .ServerFiltering(true);
                    })
                    )
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.ResidentId)
                <div class="form-group">
                    <div class="col-md-2 col-sm-3 col-xs-4 border-box align-right inputNameLable" style="color:#000">ID:</div>
                    <div class="col-md-10 col-sm-9 col-xs-8 border-box inputNameLable">@Html.DisplayFor(model => model.PatientId)</div>
                </div>
                <div class="clear"></div>
                    <hr style="margin:5px" />
                        <div class="form-group">
                            <div class="col-md-2 col-sm-3  col-xs-4 border-box align-right inputNameLable" style="color:#000">Name:</div>
                            <div class="col-md-10 col-sm-9 col-xs-8 border-box inputNameLable">
                                @Html.DisplayFor(model => model.ResidentFirstName)
                                @Html.DisplayFor(model => model.ResidentLastName)
                                @Html.DisplayFor(model => model.ResidentPatronymicName)
                            </div>
                        </div>
                        <div class="clear"></div>
                        <hr style="margin:5px" />
                        <div class="form-group">
                            <div class="col-md-2 col-sm-3  col-xs-4 border-box align-right inputNameLable" style="color:#000">Birth Date:</div>
                            <div class="col-md-10 col-sm-9 col-xs-8 border-box inputNameLable">@Html.DisplayFor(model => model.BirthDate)</div>
                        </div>
            }
        </fieldset>
        <fieldset class="create-fieldset create-item">
            <legend>Electrocardiogram</legend>

            <div class="clear"></div>
            <div class="col-sm-12 col-md-6 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.CardiologicalECGDate, new { @class = "control-label" })
                    @Html.Kendo().DatePickerFor(model => model.CardiologicalECGDate)
                    @Html.ValidationMessageFor(model => model.CardiologicalECGDate)
                </div>
            </div>
            <div class="col-sm-12 col-md-6 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.HR, new { @class = "control-label" })
                    @Html.Kendo().IntegerTextBoxFor(model => model.HR)
                    @Html.ValidationMessageFor(model => model.HR)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.RhythmTypeID, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.RhythmTypeID)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbRhythmTypes)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.RhythmTypeID)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.AxisDegree, new { @class = "control-label" })
                    @Html.Kendo().TextBoxFor(model => model.AxisDegree)
                    @Html.ValidationMessageFor(model => model.AxisDegree)
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-12 col-md-6 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.PQ, new { @class = "control-label" })
                    @Html.Kendo().IntegerTextBoxFor(model => model.PQ)
                    @Html.ValidationMessageFor(model => model.PQ)
                </div>
            </div>
            <div class="col-sm-12 col-md-6 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.QT, new { @class = "control-label" })
                    @Html.Kendo().IntegerTextBoxFor(model => model.QT)
                    @Html.ValidationMessageFor(model => model.QT)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.LVHId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.LVHId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbVHS)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.LVHId)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.RVHId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.RVHId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbVHS)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.RVHId)
                </div>
            </div>

            <div class="clear"></div>

            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.ZoneIshemiaId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.ZoneIshemiaId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbECGZones)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.ZoneIshemiaId)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.ZoneInfarctionId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.ZoneInfarctionId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbECGZones)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.ZoneInfarctionId)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.LaunId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.LaunId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbLauns)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.LaunId)
                </div>
            </div>

            <div class="clear"></div>

            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.Kendo().CheckBoxFor(model => model.PAC)
                    @Html.ValidationMessageFor(model => model.PAC)
                </div>
            </div>

            <div class="clear"></div>

            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConductionDisturbanceId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.ConductionDisturbanceId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbConductionDisturbances)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.ConductionDisturbanceId)
                </div>
            </div>
            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.BBBId, htmlAttributes: new { @class = "control-label" })
                    @(Html.Kendo().ComboBoxFor(model => model.BBBId)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Placeholder("-- Select --")
                                .Filter(FilterType.StartsWith)
                                .BindTo(ViewBag.vbBBBS)
                                .HtmlAttributes(new { @class = "input-item" })
                    )
                    @Html.ValidationMessageFor(model => model.BBBId)
                </div>
            </div>

            <div class="clear"></div>

            <div class="col-sm-12 border-box margin-5-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Comment, new { @class = "k-textbox", style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Comment)
                </div>
            </div>

            <div class="clear"></div>
        </fieldset>
        <fieldset class="create-fieldset">
            <div class="col-sm-6 border-box">
                <span id="errormssg"></span>
            </div>
            <div class="col-sm-6 border-box">
                <div class="form-group align-right">
                    <button id="rtSave" class="k-button"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                    <button id="rtCancel" class="k-button"><i class="glyphicon glyphicon-off"></i> Cancel</button>
                </div>
            </div>
        </fieldset>
    }
</div>

<script>
    function myFunction() {
        $("#ResidentNameError").empty();
        if ($("#PatientId").val() == "") {
            alert("Please, enter the Patinet id");
            return false;
        }
        else {
            var patientId = $("#PatientId").val();
        }

        var q = $.ajax({
            url: '@Url.Action("PatientInfo", "Resident")',
            dataType: "json",
            type: "GET",
            data: { id: patientId },
            async: true,
            success: function (data) {
                dt = data.Data;
                rt = true;
                if (dt != null) {
                    $("#ResidentId").val(dt[0].ResidentId);
                    $("#PatientId").val(dt[0].PatientId);
                    $("#ResidentFirstName").html(dt[0].ResidentFirstName);
                    $("#ResidentLastName").html(dt[0].ResidentLastName);
                }
                if (dt[0].PatientId == null) {
                    //alert("No any record with entered id. Please, enter the correct id");
                    $("#ResidentNameError").html("No any record found with entered id. Please, enter the correct id");
                }
            },
            error: function (xhr) {
                dt = xhr;
                rt = false;
            }
        });
        return false;
    }



    $(document).ready(function () {
        $("#rtCancel")
            .click(function (e) {
                $(this).closest(".k-window-content").data("kendoWindow").close();
                return false;
            });
        $("#rtSave")
            .click(function (e) {

                var errTempl = '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>';
                var validator = $("#frmCardiologicalECG").kendoValidator({
                    errorTemplate: errTempl
                }).data("kendoValidator");
                //var CDTTypeID = $("#CDTTypeID").data("kendoComboBox").input;

                if (!validator.validate()) {
                    //$(elmnt).closest('.form-group').addClass('has-error');
                    //CDTTypeID.addClass("k-invalid");
                    $("#errormssg").html("<span class='fa fa-exclamation-triangle'></span> @CardioSence.Resources.General.RequiredFields");
                    return false;
                }

                // $(elmnt).closest('.form-group').removeClass('has-error').addClass('has-success');
                //CDTTypeID.removeClass("k-invalid");


                var item = new Object();
                item.CardiologicalECGId = '@Model.CardiologicalECGId';
                item.ResidentId = $("#ResidentId").val();
                item.CardiologicalECGDate = $("#CardiologicalECGDate").val();
                item.HR = $("#HR").val();
                item.RhythmTypeID = $("#RhythmTypeID").val();
                item.AxisDegree = $("#AxisDegree").val();
                item.PQ = $("#PQ").val();
                item.QT = $("#QT").val();
                item.LVHId = $("#LVHId").val();
                item.RVHId = $("#RVHId").val();
                item.ZoneIshemiaId = $("#ZoneIshemiaId").val();
                item.ZoneInfarctionId = $("#ZoneInfarctionId").val();
                item.LaunId = $("#LaunId").val();
                item.PAC = $("#PAC").prop('checked');
                item.ConductionDisturbanceId = $("#ConductionDisturbanceId").val();
                item.BBBId = $("#BBBId").val();
                item.Comment = $("#Comment").val();

                var rt = false;
                var dt;
                var q = $.ajax({
                    url: '@Url.Action("Save", "CardiologicalECG")',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ cardiologicalECG: item }),
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        dt = data;
                        rt = true;
                    },
                    error: function (xhr) {
                        dt = xhr;
                        rt = false;
                    }
                });
                if (rt == true) {
                    if (dt.statuscode == 1) {
                        $(this).closest(".k-window-content").data("kendoWindow").close();
                        return false;
                    }
                    else {
                        $("#errormssg").html(dt.message);
                        return false;
                    }
                }
                else {
                    //system error ocured. The popup will be closed. The view will be redirected to error page.
                    $(this).closest(".k-window-content").data("kendoWindow").close();
                }
            });
    });
</script>


